:root {
    --borders: #706767;
    --project1: url("../images/database1.png");
    --project2: url("../images/database2.gif");
    --project3: url("../images/Nano1.png");
    --project4: url("../images/Nano1.gif");
    --project5: url("../images/Tech.png");
    --project6: url("../images/Tech.gif");
    --project7: url("../images/Hack.png");
    --project8: url("../images/Hack.gif");
    --crimson: rgb(220, 20, 60);
    --blue: rgb(2, 2, 155);
    --white: rgb(212, 212, 212);
}


html {
    margin: 0px;
    display: flex;
    
    
}

content {
    display: flex;
    flex-wrap: wrap;
    
}

a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    
}

nav a:after {
    content: "  /  ";
    text-decoration: none;
}

nav a:first-child:before {
    content: ">>   ";
    text-decoration: none;
}

nav a:last-child:after {
    content: "   <<";
    text-decoration: none;
}

body {
    background-color: var(--blue);
    
}

header img {
    width: 100%;
    margin:0px;
    height:fit-content;
    display:flex;
    
}

nav {
    background-color: var(--blue);
    text-align: right;
    height: 20px;
}

aside {
    color: var(--white);
    font-size: 20px;
    border: 2px solid #8a8686;
    align-items:center;
    width: 400px;
    max-height: fit-content;
    flex: 1;
    
    
   
}

aside img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    
    
}

.card {
    flex-direction: column;
    flex: 1 0 100%;

}

.indented {
    text-indent: 30px;
}

.image {
    background-image: var(--project1);
    position:relative;
    box-sizing: border-box;
    height: 400px;
    width: 1156px;
    margin: 0px;
    background-repeat:no-repeat;
    background-size: cover;
    border: 3px solid var(--borders);
    transition: all 0.5s ease-in-out;
    
    

}

.image:hover {
    
    background-image: var(--project2);
    box-shadow: inset 0px 0px 8px var(--crimson), 0px 0px 15px var(--crimson);
    
}

.image2 {
    background-image: var(--project3);
    box-sizing: border-box;
    height:290px;
    width: 382px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--borders);
    transition: all 0.5s ease-in-out;
   
    
}

.image2:hover {
    background-image: var(--project4);
    box-shadow: inset 0px 0px 8px var(--crimson), 0px 0px 15px var(--crimson);
}


.image3 {
    background-image: var(--project5);
    box-sizing: border-box;
    height: 290px;
    width: 383px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--borders);
    transition: all 0.5s ease-in-out;
   
    
}

.image3:hover {
    background-image: var(--project6);
    box-shadow: inset 0px 0px 8px var(--crimson), 0px 0px 15px var(--crimson);
}

section {
    display:inline-flex;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.image4 {
    background-image: var(--project7);
    
    box-sizing: border-box;
    height: 290px;
    width: 383px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--borders);
    transition: all 0.5s ease-in-out;
    
}

.image4:hover {
    background-image: var(--project8);
    box-shadow: inset 0px 0px 8px var(--crimson), 0px 0px 15px var(--crimson);
}

footer {
    color: var(--white);
    text-align: center;
}

@media screen and (max-width: 996px) {

    .image,
    .image2,
    .image3,
    .image4
     {
        
        width: 100%;
    flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    
    .image,
    .image2,
    .image3,
    .image4,
    .card,
    section {
        width:100%;
        height:fit-content;
        flex-direction: column;
        -ms-flex-align: stretch;
        
        
    }
    
}

    
